@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.ContactUsSection {
    background-color: #f5f5f5;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactUsContainer {
    width: 100%;
    /* max-width: 1200px; */
    display: flex;
    /* align-items: first baseline; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tentImgContainer {
    width: 30%;
    height: auto;
}

.tentImgContainer:nth-of-type(1) {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 0;
}

.tentImgContainer:nth-of-type(2) {
    margin: 5px;
}

.tentImgContainer:nth-of-type(3) {
    margin: 5px;
}

.contactText {
    font-size: 16px;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.tentImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tntImgflexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

.contactHeader {
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 4vh;
    width: 90%;
}

.phoneNumber {
    font-size: 24px;
    font-weight: 300;
    margin-left: 20px;
    width: 90%;
}

.formGroup {
    width: 100%;
}

.nameContainer {
    width: 100%;
    display: flex;
}

.nameContainer .nameFlex {
    width: 48%;
}

.nameContainer .nameFlex:first-child {
    margin-right: 4%;
}
.contactFormContainer {
    width: auto;
    padding: 20px;
}

.nameFlex {
    display: flex;
    flex-direction: column;
}

.nameFlex input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
}

.nameFlex textarea {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
}

.star {
    color: red;
}

.nameFlex label {
    font-size: 13px;
    margin-top: -1vh;
    margin-bottom: 2vh;
}

.nameFlex2 {
    display: flex;
    flex-direction: column;
}

.nameFlex2 input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
}

.nameFlex2 textarea {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
}

.submitButton {
    padding: 10px;
    font-size: 15px;
    background: rgb(52, 73, 35);
    color: white;
    border-radius: 6px;
}

.submitButton:hover {
    background: rgba(52,73, 35, .7);
    cursor: pointer;
}

.sliderCont {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.slider div img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 950px) {
    .wideFlexdiv {
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        width: 100%;
        /* padding: 20px; */
    }

    /* .contactUsSection {
        flex-basis: 45%;
    } */

    .contactForm {
        flex-basis: 50%;
    }

    .contactFormContainer {
        padding-left: 0;
        padding-bottom: 5vh;
        padding-top: 5vh;
        /* width: 100%; */
    }


    .phoneNumber {
        font-size: 40px;
        width: auto;
    }

    .contactText {
        font-size: 20px;
        width: 50%;
    }

    .tentImgContainer {
        max-width: 160px;
    }

    .contactHeader {
        font-size: 40px;
        width: auto;
    }

    
}
